@{
    ViewData["Title"] = "Entry Confirmation";
}
@model Mission06_edemaere.Models.MovieEntry

<h1>Entry Submitted ✓</h1>
<p>You have successfully submitted the movie "<a style="font-weight:bold;">@Model.Title</a>".</p>
<a asp-area="" asp-controller="Home" asp-action="Movies">Return to movies</a>