@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<!--Link to the baconsale site-->
<p>Check this out! --> <a href="https://baconsale.com/" target="_blank">Baconsale.com</a></p>

